extends  ../background_layout

block content
    #backgroundFinace

      a#background_upload_button.btn.btn-danger(href='#upload', role='button', data-toggle='modal') 上传报表
      // Modal
      #upload.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3#myModalLabel(style="text-align: center") 上传报表
        .modal-body(style="background-color: rgba(139, 249, 112, 0.84)")
          form#one(enctype='multipart/form-data' method='post' action='/background/finances')
            h4 项目收支报表
            input(type='text' name='year' placeholder= '年份 输入格式: 2014')
            select(name='month')
              each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                  option=val + "月份"
            p 上传文件重新命名为 年份-月份.后缀
            #oneItems
                input(type="file" name="add")
                input(id = 'item' type="submit" name="submit" value="提交")
      
          form#two(enctype='multipart/form-data' method='post' action='/background/finances')
            h4 季度报表
            input(type='text' name='year' placeholder= '年份 输入格式: 2014')
            select(name="month")
              each val in ['一', '二', '三', '四']
                 option='第' + val + '季度'
            p 上传文件重新命名为 年份-第X季度.后缀
               #twoItems
                  input(type='file' name='add')
                  input(id = 'season' type='submit' name='submit' value='提交')
      
          form#three(enctype='multipart/form-data' method='post' action='/background/finances')
            h4 年度报表
            input(type='text' name='year' placeholder= '年份 输入格式: 2014')
            p 上传文件重新命名为 年度-年份.后缀
                #threeItems
                input(type='file' name='add')
                input(id = 'annual' type='submit' name='submit' value='提交')
  
        .modal-footer
          button.btn(data-dismiss='modal', aria-hidden='true') 关闭
      
      h4.background_h1 项目收支报表

      #itemDisplay
        for fileName in itemFiles
            .itemReport 
                a.background_view_button.generalA(file="#{fileName}" href='#myView', role='button', data-toggle='modal')=fileName
      hr

      h4.background_h1 季度报表
      #seasonDisplay
        for fileName in seasonFiles
            .seasonReport 
                a.background_view_button.generalA(file="#{fileName}" href='#myView', role='button', data-toggle='modal')=fileName
      
      hr

      h4.background_h1 年度报表
      #annualDisplay
        for fileName in annualFiles
            .annualReport 
                a.background_view_button.generalA(file="#{fileName}" href='#myView', role='button', data-toggle='modal')=fileName

      
      // myDelete
      #myDelete.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3#myModalLabel Warnning
        .modal-body
          p 确定要删除该报表么？
        .modal-footer
          button.btn(data-dismiss='modal', aria-hidden='true') 取消
          button.delete_files_button.btn.btn-danger(style="background-color: gray" data-dismiss='modal', aria-hidden='true') 刪除

      // myView
      #myView.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3#myViewHeader(style="text-align: center")
        .modal-body
          img#myViewContent(src="")
        .modal-footer
          button.btn.btn-danger(style="background-color: #fff; color: #aaa" data-dismiss='modal', aria-hidden='true') 关闭
          a.background_delete_button.btn.btn-danger(style="background-color: gray" href='#myDelete', role='button', data-toggle='modal') 刪除

