extends  ../background_layout

block content
	div#deleteForeshow.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-header
			button.close(type='button', data-dismiss='modal', aria-hidden='true') x
		.modal-body
			p 确定要删除该活动预告吗？
		.modal-footer
			a.btn(data-dismiss='modal', aria-hidden='true') 取消
			a.deleteForeshow.btn.btn-danger(style="background-color: gray" data-dismiss='modal', aria-hidden='true') 删除

	div#modifySuccess.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-header
			button.close(type='button', data-dismiss='modal', aria-hidden='true') x
		.modal-body
			p 保存成功



	div#foreshows-view
		a(href='./foreshows/foreshows-edit')
			button#add-foreshows 添加活动预告

		each item in activity
			div.foreshow-item
				input.hide(type="text", value=item._id)
				hr
				a.foreshow-title.generalA(data-toggle='modal' href='##{item._id}')=item.headline
				span.foreshow-start-date='发布时间 : ' + formatDate(item.create_time) 
				div.foreshow-end-date
					span 撤销时间: 
						<input type="text", value=#{item.dest_time.getFullYear()}></input> 年 
						<input type="text", value=#{item.dest_time.getMonth()+1}></input> 月 
						<input type="text", value=#{item.dest_time.getDate()}></input> 日 
					a.btn.btn-danger.foreshow-end-date-edit(style="background-color: #C4C400" data-toggle="modal" href='#modifySuccess') 保存修改
					a.btn.btn-danger.delete(style="background-color: gray" data-toggle="modal" href='#deleteForeshow') 删除
				hr
			.modal.hide.fade(id= '#{item._id}' tabindex='-1', role='dialog', aria-hidden='true' style="background-color: #CC9")
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h3(style="text-align: center") 活动预告
				.modal-body
					form(method="post" action="/background/foreshows/update_activity?id=#{item._id}")
						p
							span 标题
							input(name="headline" type="text" value="#{item.headline}")
						p
							span 作者
							input(name="author" type="text" disabled="disabled" value="#{item.author}")
						p
							span 来源
							input(name="source" type="text" value="#{item.source}")
						p
							span 活动内容
							textarea(style="width: 400px; height: 400px; resize: none" name="contents")=item.contents		
						input.btn.btn-danger(role='button' style="margin: 0 auto; display: block; background-color: #C4C400" type="submit" value="确认")
