extends  ../background_layout

block content
	#background_news
		div#picture_news
			a(href='./news/news-edit')
				button#add-picture-news 添加图片新闻

		for i in pictureNews
				a.generalA.picture-news-edit(role='button', data-toggle='modal' href='##{i._id}')=i.title + " " + formatDate(i.createdAt) 
				
				.modal.hide.fade(id= '#{i._id}' tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true' style="background-color: #CC9")
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h3(style="text-align: center") 图片新闻
					.modal-body
						form(method="post" action="/background/news/update_picture?src=#{i.src}")
							p
								span 标题
								input(name="title" type="text" value="#{i.title}")
							p
								span 备注
								textarea(style="width: 400px; height: 100px; resize: none" name="note")=i.note
							p
								span 创建时间
								input(name="createdAt" type="text" disabled="disabled" value=formatDate(i.createdAt))
							p
								span 作者
								input(name="createdBy" type="text" disabled="disabled" value="#{i.createdBy}")
							p
								span 插图
								img.picture-news-img.img-rounded(src="#{i.src}" width="200px" height="180px")
							input.btn(role='button' style="position: absolute; right: 100px; bottom: 70px" type="submit" value="确认修改")
					.modal-footer
						button.btn(data-dismiss='modal', aria-hidden='true') 关闭
						a.picture-news-delete.btn.btn-danger(style="background-color: gray" role='button', data-toggle='modal' href='#delete-picture-news' picturesrc='#{i.src}') 删除

		.modal.hide.fade(id= 'delete-picture-news' tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h1(style="color: red") !
			.modal-body
				p 你确定要删除该条图片新闻么？
			.modal-footer
				button.btn(data-dismiss='modal', aria-hidden='true') 取消
				a.btn.btn-danger.picture-delete-confirm(style="background-color: gray") 删除