extends  ../background_layout

block content
	div#picture_news
		a(href='./news-edit')
			button#add-picture-news 添加图片新闻

	for i in pictureNews
			p.picture-news-title #{i.title}
			p.picture-news-date #{i.createdAt}
			img.picture-news-img.img-rounded(src='#{i.src}' width='200px' height='180px') 
			a.picture-news-delete.btn.btn-danger(role='button', data-toggle='modal' href='#delete-picture-news' picturesrc='#{i.src}') 删除
			a.picture-news-edit.btn(role='button', data-toggle='modal' href='##{i._id}') 编辑
			.modal.hide.fade(id= '#{i._id}' tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h3 编辑
				.modal-body
					form(method="post" action="/background/update_picture?src=#{i.src}")
						h3 标题
						input(name="title" type="text" value="#{i.title}")
						h3 备注
						input(name="note" type="text" value="#{i.note}")
						p 作者，创建时间，和图片不能修改。
						p 若需修改请删除重新上传（删除数据不可恢复）！
						h3 创建时间
						input(name="createdAt" type="text" disabled="disabled" value="#{i.createdAt}")
						h3 作者
						input(name="createdBy" type="text" disabled="disabled" value="#{i.createdBy}")
						img.picture-news-img.img-rounded(src="#{i.src}" width="200px" height="180px")
						hr
						input(type="submit" value="确认修改")

				.modal-footer
					button.btn(data-dismiss='modal', aria-hidden='true') 关闭
			hr

	.modal.hide.fade(id= 'delete-picture-news' tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-header
			button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
			h3 Warning
		.modal-body
			p 你确定要删除该条图片新闻么？
		.modal-footer
			button.btn(data-dismiss='modal', aria-hidden='true') 关闭
			a.btn.btn-danger.picture-delete-confirm 删除