extends  ../background_layout

block content
   form#volunteer-application.application(name='volunteerApplication' method='post')
    h1 用户信息编辑
    fieldset
      legend 个人信息
      .field
        label
          span.field-name 原用户名：
          input#profile-oriusername(type='text', readonly="readonly", value="#{editUser.username}", name='oriusername', maxlength='20', datatype='s1-20')
      .field
        label
          span.field-name *用户名：
          input#profile-username(type='text', value="#{editUser.username}", name='username', maxlength='20', datatype='s1-20')
      .field
          span.field-name *邮箱：
          input#profile-email(type='text', value="#{editUser.email}", name='email')
      .field
          span.field-name *密码：
          input#profile-password(type='text', name='password', placeholder="留空则表示不修改")
      .field
        span.field-name 出生年月：
        input(type='text', value="#{editUser.profile.birthday}", name='birthday')
      .field#profile-nickname
          span.field-name 昵称：
          input(type='text', value="#{editUser.profile.nickname}", name='nickname')
      .field#profile-job
          span.field-name 职业：
          input(type='text', value="#{editUser.profile.job}", name='job')
      .field#profile-phone
          span.field-name 电话：
          input(type='text', value="#{editUser.profile.phone}", name='phone')
      .field#profile-QQ
          span.field-name QQ：
          input(type='text', value="#{editUser.profile.QQ}", name='QQ')
      .field#profile-weibo
          span.field-name 微博：
          input(type='text', value="#{editUser.profile.weibo}", name='weibo')
      .field
          span.field-name 关于自己：
          textarea(type='text', name='about',style="resize:none;") #{editUser.profile.about}
          div#extra-info(style="margin-left:80px;font-size:13px;color:red;")
            注: *项为必填项，若要修改管理员的用户名，成功后将自动登出

      div#modify-user-confirm.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        button.close(type='button', data-dismiss='modal', aria-hidden='true') X
        div.modal-header 
          h3 修改用户信息
        div.modal-body
          h4 确定要修改该用户吗？
        div.modal-footer
          button#modifyUser.btn.btn-large.btn-primary(type="submit") 是的
          button.btn.btn-large.btn-primary(data-dismiss='modal', aria-hidden='true') 不了

    .operation
      a#profile-submit.btn.btn-large.btn-primary(data-toggle="modal" href='#modify-user-confirm') 提交
      a#profile-goback.btn.btn-large.btn-primary 返回
