// 后台 分享交流    每一期都硬性要求有5张

mixin period(share)
	each item in share
		form.share_details(action="/background/modifyTexts/" + item._id, enctype="multipart/form-data", method="post")
			.share_img
				img(alt=item.headline, src=item.path)
				input(type='file', value="换图", name="changePhoto")
			.share_contents
				textarea.summary(name="summary", placeholder="简短描述,请不要超过一百字")=item.summary
				textarea.contents(name="contents", placeholder="详细描述")=item.contents
			input(type='submit', value="保存")


extends  ../background_layout

block content 
	#background_share
		input(id="share_add", type="button", value="添加新一期志愿者分享")
		form#add_choose(action="/background/addNewPeriod/" + (number+1), enctype="multipart/form-data", method="post")
			input(id="submit_new_period", type="submit", value="提交新的一期")
			input(id="cancel_new_period", type="button", value="取消提交")
			input(id="author_name", type="text", name="author_name", value="author")
			input.uploadInfo(type="text", name="uploadInfo")
			-var x = 1
				while x < 6
					.share_details
						.share_img
							img(alt="defalut", src='/images/ini.png')
							input.uploadFiles(type='file', value="换图", name="changePhoto" + (x++))
						.share_contents
							textarea.summary(name="summary", placeholder="简短描述,请不要超过一百字")=" "
							textarea.contents(name="contents", placeholder="详细描述")=" "

		- var n = number
			while n > 0
				form(method="post", action='/background/share_period/' + n)
					input(type="submit", value="第" + n + "期志愿者分享")
				if (show == n--)			
					+period(share)
