extends ../layout

block content
	#album_pitures_list
		h2="点点相册： " + album.name + " " + "   发布时间： " + formatDate(album.createdAt)
		-var i = 1
		each item in album.pictures
			.each_picture
				.select_img(style="background: url(#{item.src}) no-repeat; background-size: 100%; height: 120px; cursor: pointer" data-count=i++, src=item.src, alt=item.headline, data-toggle="modal" href='#show_picture')
				p=item.headline
				p(style="display: none")=item.introduction
				
	#show_picture.modal.hide.fade(style="background: rgba(139, 249, 112, 0.84)" tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		button.close(type='button', data-dismiss='modal', aria-hidden='true') X
		div.modal-header-header
			a.carousel-control.left < 
			h3
			a.carousel-control.right >   
		div.modal-body-body
			p
			.img

			
			

