block content
  div#pictures
    if (pictures.length > 0)
      div.current(style="background: url(#{pictures[0].src}) no-repeat; background-size: 100%; background-position: center")
    else
      div.current
    div#notes
      div
        if (pictures.lenght > 0)
          p.title= pictures[0].title
          p.note(style="text-indent:30px")= pictures[0].note
        else
          p.title=" "
          p.note(style="text-indent: 30px")= " "
      div.picture-list
        p.left.generalA(title='上一页') <
        div.picture-list-outer
          div.picture-list-inner
            each picture in pictures
              img(src=picture.src, title=picture.title, data-note=picture.note)
        p.right.generalA(title='下一页') >