block content
  div#pictures
    div.current(style="background: url(#{pictures[0].src}) no-repeat; background-size: 100%; background-position: center")
    div#notes
      div
        p.title= pictures[0].title
        p.note(style="text-indent:30px")= pictures[0].note
      div.picture-list
        p.left.generalA(title='上一页') <
        div.picture-list-outer
          div.picture-list-inner(style.width=width)
            each picture in pictures
              img(src=picture.src, title=picture.title, data-note=picture.note)
        p.right.generalA(title='下一页') >
