extends ../layout

block content
  #postPage
    .post
      h2.post-title=post.title
      .post-info
        | 发布时间:
        span.head=formatDate(post.createdAt)  
        | 发布者:
        span.head=author
        | 查看:
        span.head=post.viewCount  
      //  | 评论:
      //  span.head=post.commentCount  
      .post-content!=post.content
    // include ../includes/sharebar
    // {{> comments}}
